.App {
  height: 100vh;
  text-align: center;
  background-color: #F5F5F5;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.searchIcon{
  color: black;
  width: 30px;
  height: 30px;
  
}
.svgButtonList{
  margin-bottom: 2px;
  margin-right: 4px;
}
.sideLink{
  text-decoration: none;
  color: black;
}
.sideSVG{
  margin-bottom: 4px;
  margin-right: 5px;
}
.loginDiv{
  background-color: white;
  width: 100%;
  height: 500px;
  box-shadow: 1px 1px 3px gray;
  border-radius: 3px;
}